#headerwrap-2 {
    background: url(../../../assets/images/header2-bg.jpg) no-repeat center top;
    margin-top: 0;
    padding-top: 160px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 385px;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
  }
  
  #headerwrap-2 h1 {
    color: rgb(255, 255, 255);
  }

  #cta {
    background-color: #2ABCA7;
    padding-top: 35px;
    padding-bottom: 35px
  }
  
  #cta h3 {
    color: rgb(255, 255, 255);
    font-weight: 100
  }
  
  #cta p {
    font-weight: 300;
    color: rgb(255, 255, 255);
  }

  .sinfo {
    padding-top: 60px;
    padding-bottom: 60px
    
  }
  
  .sinfo h4 {
    font-weight: 300
  }
  
  .sinfo p {
    font-weight: 200
  }
  
  .sinfo span {
    padding-left: 5px;
    padding-right: 5px
  }

  .centered {
    text-align: center
  }
 
/* Copyrights */

#copyrights {
    background: #2ABCA7;
    padding: 20px 0;
    text-align: center;
  }
  
  #copyrights p {
    margin-bottom: 5px;
    color: #fff;
    font-size: 16px;
  }
  
  #copyrights a {
    color: #1abc9c;
  }
  .credits {
    color: #fff;
  }  
  

