 <!-- Headerwrap -->
 <div id="headerwrap-2">
  <div class="container">
    <div class="row">
      <h1>It Doesn't Take Domain expert. <br/>It takes only a <b>software</b></h1>
    </div>
  </div>
</div>
<!-- /Headerwrap -->

<!-- Call To Action -->
<div id="cta">
  <div class="container centered">
    <h3><b>Welcome to our new corporate site.</b></h3>
    <p><b>This application helps you to make future critical decisions accurately depending on the analysis on minimum failure rate. What you have to do is upload a <b>pdf</b> file of the article you want to analyze. </b></p>
    <br>
    <a [routerLink]="['/analyzer']"><button class="btn"  style="color:#ffffff; background-color: rgb(57, 42, 85)">Analyse your article </button></a>
  </div>
  <!-- /container -->
</div>

  <!-- Services Section -->
  <div class="sinfo">
    <div class="row centered">
      <div class="col-sm">
        <p><img src="../../../assets/images/icons/touch.svg" alt=""></p>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
      </div>
      <!-- col-lg-3 -->

      <div class="col-sm">
        <p><img src="../../../assets/images/icons/spray.svg" alt=""></p>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
      </div>
      <!-- col-lg-3 -->

      <div class="col-sm">
        <p><img src="../../../assets/images/icons/rocket.svg" alt=""></p>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
      </div>
      <!-- col-lg-3 -->

      <div class="col-sm">
        <p><img src="../../../assets/images/assets/fasttext-icon-bg-web.png" alt="FastText" width="100" height="100"></p>
        <p>FastText is a text classifier. It increases the speed of sentiment Analyzing process.</p>
      </div>
    
      <!-- col-lg-3 -->

    </div>
    <!-- /row -->
    <br>
    <hr>
  </div>
  <!-- /container -->



  <div id="copyrights">
    <div class="container">
      <p>
        &copy; Copyrights <strong>Domain Specific Sentiment Analysis Research Team</strong>. All Rights Reserved
      </p>
      <div class="credits">
        <!-- Created with Good template by <a href="https://templatemag.com/">TemplateMag</a> -->
      </div>
    </div>
  </div>
  <!-- / copyrights -->