
body {
    padding-top:25px;
    color: #2ABCA7;
    margin-left:10px;
    /* margin-right:10px; */
  }
  .container {
    max-width:600px;
    margin:0 auto;
    text-align:center;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    background-color:#ecf0f1;
    padding-left: 2%;
  }
  .head {
    -webkit-border-radius:6px 6px 0px 0px;
    -moz-border-radius:6px 6px 0px 0px;
    border-radius:6px 6px 0px 0px;
    background-color:#2ABCA7;
    color:#FAFAFA;
    
  }
  h2 {
    text-align:center;
    padding:18px 0 18px 0;
    font-size: 1.4em;
  }
  input {
    margin-bottom:10px;
  }
  textarea {
    height:100px;
    margin-bottom:10px;
  }
  input:first-of-type
  {
    margin-top:35px;
  }
  input, textarea {
    font-size: 1em;
    padding: 15px 10px 10px;
    font-family: 'Source Sans Pro',arial,sans-serif;
    border: 1px solid #cecece;
    background: #d7d7d7;
    color:#FAFAFA;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 80%;
    max-width: 600px;
  }
  ::-webkit-input-placeholder {
     color: #FAFAFA;
  }
  :-moz-placeholder {
     color: #FAFAFA;  
  }
  ::-moz-placeholder {
     color: #FAFAFA; 
  }
  :-ms-input-placeholder {  
     color: #FAFAFA;  
  }
  button {
    margin-top:15px;
    margin-bottom:25px;
    background-color:#2ABCA7;
    padding: 12px 45px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #2ABCA7;
    -webkit-transition: .5s;
    transition: .5s;
    display: inline-block;
    cursor: pointer;
    width:30%;
    color:#fff;
  }
  button:hover, .button:hover {
    background:#19a08c;
  }
  label.error {
      font-family:'Source Sans Pro',arial,sans-serif;
      font-size:1em;
      display:block;
      padding-top:10px;
      padding-bottom:10px;
      background-color:#d89c9c;
      width: 80%;
      margin:auto;
      color: #FAFAFA;
      -webkit-border-radius:6px;
      -moz-border-radius:6px;
      border-radius:6px;
  }

  .radiobtn{
      float: left;
  }

.lbl{
    margin-left: 10%;
    margin-top: 8%;
    color: white;
}

.filelbl{
    margin-left: 10%;
    color: white;
}

.container{
    margin-top: 3%;
    padding-top: 2%;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 30%;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2ABCA7;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2ABCA7;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .fasttxtlbl{
      margin-left: 10%;
      color: white;
  }

  .uploadfile{
      margin-left: 5%;
  }