<!-- 
contact form created for treehouse competition.
-->
<form id="contact" class="formcontatc">
  <div class="container">
    <div class="head">
      <h2>UPLOAD YOUR FILE HERE</h2>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-3 col-md-6 col-lg-4" style="background-color:#2ABCA7; border-top-left-radius: 6px; margin-left: 2%;">
        <br>
        <label class="lbl">SELECT DOMAIN </label>
      </div>
      <div class="col-sm-9 col-md-6 col-lg-6">
        <div style="float:left; margin-left: 15%;">
          <input type="radio" name="domain" [(ngModel)]='domain' value="Politic" checked>
          <p>POLITIC</p>
        </div>
        <div style="float:left; margin-left: 10%;">
          <input type="radio" name="domain" [(ngModel)]='domain' value="Finance">
          <p>FINANCE</p>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-3 col-md-6 col-lg-4" style="background-color:#2ABCA7; margin-left: 2%;">
        <br>
        <label class="fasttxtlbl">ENABLE FastText</label>
        <br>
      </div>
      <div class="col-sm-9 col-md-6 col-lg-6" >
        <br>
        <label style="float:left;" class="switch">
          <input type="checkbox" name="fasttext" [(ngModel)]='fasttext' checked>
          <span class="slider round"></span>
        </label></div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-3 col-md-6 col-lg-4" style="background-color:#2ABCA7; border-bottom-left-radius: 6px; margin-left: 2%;">
        <br>
        <label class="filelbl">UPLOAD YOUR FILE (please use pdf file format)</label>
        <br>
      </div>
      <div class="col-sm-9 col-md-6 col-lg-6">
        <input class="uploadfile" type="file" accept="application/pdf" (change)='onFileSelected($event)' name="file"
          placeholder="Enter the description">
          
      </div>
      
    </div>
    <br>
    <button id="submit" class="btn btn-primary" type="button" (click)="save()">SUBMIT
    </button>
  </div>
</form>