<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand/logo -->
        <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active">              </a>
        
        <!-- Links -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active">Domain-specific Sentiment Analysis</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" ></a>
            </li>
            <li class="nav-item">
                <a class="nav-link"></a>
              </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/analyzer']" routerLinkActive="router-link-active">Article Analyser</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/admin_panel']" routerLinkActive="router-link-active">Admin Login</a>
              </li>
        </ul>
      </nav>
      <div>
            <router-outlet></router-outlet>
        </div>
