<div class="container-fluid">
  <div class="row" id="sent_container">

    <!--hybrid-->
    <div class="col-lg-6" style="background-color:#f8fafa;" id="sent_hybrid">

      <!--title row-->
      <div class="row">

        <div class=" col-lg-12" style="background-color:#1537d1; text-align: center; font-family: 'Times New Roman', Times, serif">
          <br>
          <h4>
            <font color="white"><b>DOMAIN SPECIFIC SENTIMENT ANALYSIS RESULT</b></font>
          </h4>
          <br>
        </div>
      </div>

      <br>
      <br>
      <!--Results-->
      <div>
        <p><b>WHOLE DOCUMENT SENTIMENT VALUE : {{w_d_s_valueHybrid}}</b></p>
        <br>
        <p><b>MESSAGE : </b><span>
            <p style=" font-style: oblique;"><b>{{messageHybrid}}</b></p>
          </span></p>
        <br>
        <br>
        <p style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"><b>PROBABILITY
            BEING POSITIVE : {{postive_Probability}}</b></p>
        <p>
          <ngb-progressbar type="success" [value]="postive_Probability*100"></ngb-progressbar>
        </p>
        <br>
        <p style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"><b>PROBABILITY
            BEING NEGATIVE : {{negative_Probability}}</b></p>
        <p>
          <ngb-progressbar type="danger" [value]="negative_Probability*100"></ngb-progressbar>
        </p>
        <br>
        <p style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"><b>PROBABILITY
            BEING NEUTRAL : {{neutral_Probability}}</b></p>
        <p>
          <ngb-progressbar type="warning" [value]="neutral_Probability*100"></ngb-progressbar>
        </p>
      </div>
      <br>
      <br>
      <div style="font-size: 15px">

        <ul *ngFor="let Sentence of SentenceListHybrid">
          <p><b>SENTENCE ID : {{Sentence.id}}</b></p>
          <p><b>SENTENCE SENTIMENT VALUE : {{Sentence.sentimentValue}}</b></p>
          <p><b>SENTENCE : </b><span>
              <p style="font-style: oblique">{{Sentence.sentence}}</p>
            </span></p>
          <br>
          <br>
        </ul>

      </div>
    </div>

    <!--Sentword net-->
    <div class="col-lg-6" style="background-color:#e3e3e3;">

      <!--title row-->
      <div class="row">

        <div class=" col-lg-12" style="background-color:#2ABCA7; text-align: center; font-family: 'Times New Roman', Times, serif">
          <br>
          <h4>
            <font color="white"><b>SentiWordNet SENTIMENT ANALYSIS RESULT</b></font>
          </h4>
          <br>
        </div>
      </div>

      <br>
      <br>
      <!--Results-->
      <div>
        <p><b>WHOLE DOCUMENT SENTIMENT VALUE : {{w_d_s_valueSWN}}</b></p>
        <br>
        <p><b>MESSAGE :</b><span>
            <p style=" font-style: oblique;"> <b>{{messageSWN}}</b></p>
          </span></p>

        <br>
        <br>
        <p style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"><b>PROBABILITY
            BEING POSITIVE : {{postive_ProbabilitySWN}}</b></p>
        <p>
          <ngb-progressbar type="success" [value]="postive_ProbabilitySWN*100"></ngb-progressbar>
        </p>
        <br>
        <p style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"><b>PROBABILITY
            BEING NEGATIVE : {{negative_ProbabilitySWN}}</b></p>
        <p>
          <ngb-progressbar type="danger" [value]="negative_ProbabilitySWN*100"></ngb-progressbar>
        </p>
        <br>
        <p style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"><b>PROBABILITY
            BEING NEUTRAL : {{neutral_ProbabilitySWN}}</b></p>
        <p>
          <ngb-progressbar type="warning" [value]="neutral_ProbabilitySWN*100"></ngb-progressbar>
        </p>
      </div>
      <br>
      <br>
      <div style="font-size: 15px">

        <ul *ngFor="let Sentence of SentenceListSWN">
          <p><b>SENTENCE ID: {{Sentence.id}}</b></p>
          <p><b>SENTENCE SENTIMENT VALUE :
              {{Sentence.sentimentValue}}</b></p>
          <p><b>SENTENCE : </b><span>
              <p style="font-style: oblique">{{Sentence.sentence}}</p>
            </span></p>
          <br>
          <br>
        </ul>
      </div>

    </div>
    <div *ngIf="showLoadingIndicator" class="spinner"></div>
  </div>
</div>