<div class="container">
  <br>
  <br>
  <div class="row">
    <div class="col ">
      <div class="card" style="width:400px">
        <img class="card-img-top" src="../../../assets/images/assets/ontology1.png" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Ontology</h4>
          <a href="http://fyp-frontend.s3-website-us-east-1.amazonaws.com/" target="_blank" class="btn btn-primary">Go!</a>
        </div>
      </div>
    </div>

    <div class="col offset-md-2">
      <div class="card" style="width:400px">
        <img class="card-img-top" src="../../../assets/images/assets/suggesion.png" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Ontology suggesion</h4>
          <a href="http://localhost:5000/suggesion" target="_blank" class="btn btn-primary">Go!</a>
        </div>
      </div>
    </div>

  </div>
</div>